<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <h3>商品詳細</h3>
      <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "500x500" %>
      <% else %>
      <%= image_tag 'no_image', size: "500x500" %>
      <% end %>
    </div>
    <div class='col-md-5'>
      <table class='table table-bordered'>
        <tr>
          <th>メーカー</th>
          <th><%= @item.maker.name %></th>
        </tr>
        <tr>
          <th>商品名</th>
          <th><%= @item.name %></th>
        </tr>
        <tr>
          <th>商品説明</th>
          <th><%= @item.description %></th>
        </tr>
        <tr>
          <th>年式（年）</th>
          <th><%= @item.year %></th>
        </tr>
        <tr>
          <th>車両タイプ</th>
          <th><%= @item.genre.name %></th>
        </tr>
        <tr>
          <th>排気量（cc）</th>
          <th><%= @item.cc %></th>
        </tr>
        <tr>
          <th>税込価格</th>
          <th><%= (@item.price*1.1).round.to_i %></th>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <th>
            <% if @item.sale_status=='販売中' %>
            <div class='label text-success'>販売中</div>
            <% else %>
            <div class='label text-secondary'>販売停止中</div>
            <% end %>
          </th>
        </tr>
        <tr>
          <th><%= link_to '編集する', edit_admin_item_path(@item), class: 'btn btn-success' %></th>
          <th><%= link_to '削除する', admin_item_path(@item), method: :delete, class: 'btn btn-danger' %></th>
        </tr>
      </table>
    </div>
  </div>
</div>


  