<div class='container'>
<h2 class='text-center'>商品編集画面</h2>
    <%= form_with model: @item, url: user_item_path(@item) do |f| %>
        <table class='table'>
            <tr>
                <th><%= f.label :商品画像, class: 'col-xs-3' %></th>
                <th><%= f.file_field :image, accept: "image/*", class: 'col-xs-8' %></th>
            </tr>
            <tr>
                <th><%= f.label :商品名, class: 'col-xs-3' %></th>
                <th><%= f.text_field :name, class: 'col form-control item_name' %></th>
            </tr>
            <tr>
                <th><%= f.label :排気量 %></th>
                <th><%= f.text_field :cc, class: 'form-control item_cc' %></th>
            </tr>
            <tr>
                <th><%= f.label :年式 %></th>
                <th><%= f.text_field :year, class: 'form-control item_year' %></th>
            </tr>
            <tr>
                <th><%= f.label :走行距離 %></th>
                <th><%= f.text_field :km, class: 'form-control item_km' %></th>
            </tr>
            <tr>
                <th><%= f.label :カラー %></th>
                <th><%= f.text_field :color, class: 'form-control item_color' %></th>
            </tr>
            <tr>
                <th><%= f.label :製造国 %></th>
                <th><%= f.text_field :country, class: 'form-control item_country' %></th>
            </tr>
            <tr>
                <th><%= f.label :商品説明 %></th>
                <th><%= f.text_area :description, class: 'form-control item_description' %></th>
            </tr>
            <tr>
                <th><%= f.label :メーカー名 %></th>
                <th><%= f.select :maker_id, options_from_collection_for_select(Maker.all, :id, :name) %></th>
            </tr>
            <tr>
                <th><%= f.label :車体タイプ %></th>
                <th><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></th>
            </tr>
            <tr>
                <th><%= f.label :排気量クラス %></th>
                <th><%= f.select :cc_class_id, options_from_collection_for_select(CcClass.all, :id, :name) %></th>
            </tr>
            <tr>
                <th><%= f.label :税別価格(円) %></th>
                <th><%= f.text_field :price, class: 'form-control item-price' %></th>
            </tr>
            <tr>
                <th><%= f.label :販売方法 %></th>
                <th>
                    <%= f.radio_button :sale_method, Item.sale_methods.key(0) %>
                    <%= f.label :sale_method, Item.sale_methods_i18n[:引き渡しのみ] %>
                    <%= f.radio_button :sale_method, Item.sale_methods.key(1) %>
                    <%= f.label :sale_method, Item.sale_methods_i18n[:配送のみ] %>
                    <%= f.radio_button :sale_method, Item.sale_methods.key(2) %>
                    <%= f.label :sale_method, Item.sale_methods_i18n[:配送と引き渡し] %>
                </th>
            </tr>
            <tr>
                <th><%= f.label :販売ステータス %></th>
                <th>
                    <%= f.radio_button :sale_status, Item.sale_statuses.key(1) %>
                    <%= f.label :sale_status, Item.sale_statuses_i18n[:販売中], class: 'text-success' %>
                    <%= f.radio_button :sale_status, Item.sale_statuses.key(0) %>
                    <%= f.label :sale_status, Item.sale_statuses_i18n[:販売停止中], class: 'text-secondary' %>
                </th>
            </tr>
            <tr>
                <th><%= f.submit '編集内容を反映する', class: 'btn btn-success' %></th>
            </tr>
        </table>
    <% end %>
</div>