<div class='container'>
<h3>商品一覧</h3>
<div class='row'>
    <div class='d-flex flex-wrap'>
        <% @items.each do |item| %>
        <div class='box'>
            <%= link_to public_item_path(item) do %>
            <% if item.image.attached? %>
            <%= image_tag item.image, size: "200x200" %>
            <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
            <% end %>
        <p><%= item.name %></p>
        <p>¥<%= (item.price*1.1).round.to_i %></p>
        </div>
    <% end %>
    </div>
    <%= paginate @items %>
</div>