<div class='container'>
  <div class='row'>
    <div class='col-md-7'>
      <h3>
        <%= link_to user_user_path(@item) do %>
        <%= @item.user.last_name %>
        <% end %>
      </h3>
      <h4><%= @item.maker.name %></h4>
      <h2><%= @item.name %></h2>
      <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "600x600" %>
      <% else %>
      <%= image_tag 'no_image', size: "600x600" %>
      <% end %>
    </div>
    <div class='col-md-5'>
      <div class='text-center'>
        <h4>税込価格</h4>
        <font size='7' color='#ff0000'><%= (@item.price*1.1).round.to_i %></font>円
      </div>
      <h2>基本情報</h2>
      <table class='table table-bordered'>
        <tr>
          <th>年式（年）</th>
          <th><%= @item.year %></th>
        </tr>
        <tr>
          <th>走行距離（km）</th>
          <th><%= @item.km %></th>
        </tr>
        <tr>
          <th>排気量（cc）</th>
          <th><%= @item.cc %></th>
        </tr>
        <tr>
          <th>カラー</th>
          <th><%= @item.color %></th>
        </tr>
        <tr>
          <th>製造国</th>
          <th><%= @item.country %></th>
        </tr>
      </table>
      <h2>説明・紹介</h2>
      <div>
        <%= @item.description %>
      </div>
      <tr>
        <th>
          <% if @item.sale_status=='販売中' %>
          <div class='label text-success'>販売中</div>
          <% else %>
          <div class='label text-secondary'>販売停止中</div>
          <% end %>
        </th>
      </tr>
      <div class='row'>
        <div class='col-md-6'>
          <% if @item.user_id != current_user.id %>
          <%= link_to '情報入力に進む', new_user_order_path, class: 'btn btn-success' %>
          <% end %>
        </div>
        <% if @item.user_id != current_user.id %>
        <div class='col-md-4'>
          <h4><%= render 'user/favorites/fa', item: @item %></h4>
        </div>
        <% end %>
        <div class='col-md-2'>
          <%= @item.favorites.count %>件のいいね
        </div>
      </div>
      <tr>
        <th><%= render 'user/item_comments/item_comm', item: @item %></th>
        <th><%= render 'user/item_comments/form', item: @item, item_comment: @item_comments %></th>
      </tr>
      <tr>
        <% if @item.user_id == current_user %>
        <th><%= link_to '編集', edit_user_item_path(@item), class: "btn btn-sm btn-success edit_user_item_path_#{@item.id}" %></th>
        <th><%= link_to '削除', user_item_path(@item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_user_item_#{@item.id}"%></th>
        <% end %>
      </tr>
    </div>
  </div>
</div>
