<div class='container'>
    <div class='row'>
        <div class='text-center' ><h4 style='margin:20px;'>車体タイプ一覧・追加</h4></div>
        <%= form_with model: @genre, url: admin_genres_path do |f| %>
        <div class='row' style='margin:20px;'>
            <div>
                <%= f.label :タイプ名 %>
                <%= f.text_field :name %>
            </div>
            <%= f.submit 'タイプ名を追加', class: 'btn btn-primary' %>
        </div>
        <% end %>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <th>管理.No</th>
                <th>タイプ名</th>
                <th>登録台数</th>
                <th></th>
                <th><h4>現在<span style='color:#ff4500;'><%= Genre.count %></span>種</h4></th>
            </tr>
        </thead>
        <tbody>
            <% @genres.each do |genre| %>
            <tr>
                <td><%= genre.id %></td>
                <td><%= genre.name %></td>
                <td><%= genre.items.count %>台</td>
                <td><%= link_to '編集する', edit_admin_genre_path(genre.id), class: 'btn btn-success' %></td>
                <td><%= link_to '削除する', admin_genre_path(genre.id), method: :delete, class: 'btn btn-danger' %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @genres %>
</div>