<div class='row'>
    <div class='col-md-8'>
        <h2>会員一覧</h2>
    </div>
    <div class='col-md-4 text-right'>
        <h1><span style='color:#ff4500;'><%= User.count %></span>人</h1>
    </div>
</div>
<div class='row'>
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th></th>
            </tr>
        </thead>
        <% users.each do |user| %>
        <tbody>
            <tr>
                <td>会員ID：<%= user.id %></td>
                <td>
                    <%= link_to user_user_path(user) do %>
                    名前：<%= user.last_name %>
                    <% end %>
                </td>
                <td>
                    <% if user != current_user %>
                    <% if current_user.following?(user) %>
                      <%= link_to "フォロー外す", user_user_relationships_path(user.id), class: 'btn btn-secondary', method: :delete %>
                    <% else %>
                      <%= link_to "フォローする", user_user_relationships_path(user.id), class: 'btn btn-primary', method: :post %>
                    <% end %>
                    <% end %>
                </td>
            </tr>
        </tbody>
        <% end %>
    </table>
</div>