<div class='container'>
    <div class='row'>
        <div class='col-md-1'>
            <h2><%= @user.last_name %></h2>
        </div>
        <% if @user != current_user %>
        <div class='col-md-2'>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー外す", user_user_relationships_path(@user.id), class: 'btn btn-secondary', method: :delete %>
            <% else %>
              <%= link_to "フォローする", user_user_relationships_path(@user.id), class: 'btn btn-primary', method: :post %>
            <% end %>
        </div>
        <% end %>
        <div class='col-md-4'>
            <p>
                <%= link_to favorites_user_user_path(@user) do %>
                いいねした車両一覧（<%= @favorite_items.count %>）
                <% end %>
            </p>
        </div>
    </div>
    <% if @user == current_user %>
    <div class='row'>
        <div class='col-md-2'>
            <%= link_to user_user_followings_path(@user.id) do %>
            フォロー数：<%= @user.followings.count %>
            <% end %>
        </div>
        <div class='col-md-2'>
            <%= link_to user_user_followers_path(@user.id) do %>
            フォロワー数：<%= @user.followers.count %>
            <% end %>
        </div>
    </div>
    <% end %>
    <div class='row'>
        <% if @user == current_user %>
        <div class='col-md-4'>
            <h4 style='margin:10px;'>登録情報</h4>
            <table class='table'>
                <tr>
                    <th>氏名</th>
                    <th><%= @user.last_name %> <%= @user.first_name %></th>
                </tr>
                <tr>
                    <th>カナ</th>
                    <th><%= @user.last_name_kana %> <%= @user.first_name_kana %></th>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <th><%= @user.postal_code %></th>
                </tr>
                <tr>
                    <th>住所</th>
                    <th><%= @user.address %></th>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <th><%= @user.phone_number %></th>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <th><%= @user.email %></th>
                </tr>
                <tr>
                    <th></th>
                    <th><%= link_to '編集する', edit_user_user_path(@user.id), class: 'btn btn-outline-success btn-block' %></th>
                </tr>
                <tr>
                    <th>配送先</th>
                    <th><%= link_to '一覧を見る', user_addresses_path, class: 'btn btn-primary' %></th>
                </tr>
                <tr>
                    <th>注文履歴</th>
                    <th><%= link_to '一覧を見る', user_orders_path, class: 'btn btn-primary' %></th>
                </tr>
            </table>
        </div>
        <% end %>
        <div class='col-md-7 offset-md-1'>
            <h4><%= @user.last_name %>さんの出品リスト</h4>
        <% @items.each do |item| %>
        <div class='d-flex flex-wrap border-top'>
            <%= link_to user_item_path(item) do %>
            <div class='col'>
                <h2>
                    <%= item.name %>
                </h2>
                <% if item.image.attached? %>
                <%= image_tag item.image, size: "300x300" %>
                <% else %>
                <%= image_tag 'no_image', size: "300x300" %>
                <% end %>
            </div>
            <% end %>
            <div class='col'>
                <% if item.user_id == current_user.id %>
                <%= link_to '編集', edit_user_item_path(item), class: "btn btn-sm btn-success edit_user_item_path_#{item.id}" %>
                <%= link_to '削除', user_item_path(item), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_user_item_#{item.id}"%>
                <% end %>
                <div>本体価格：<h2 style='color:#ff4500;'><%= (item.price*1.1).round.to_i %></h2>円（税込）</div>
                <div>車両説明：<%= item.description %></div>
            </div>
        </div>
        <% end %>
        </div>
    </div>
</div>