<div class='container'>
    <div class='text-center'>
        <h1 class='font-weight-bolder'>バイクを探す</h1>
    </div>
    <div class='mt-4'><h3 class='font-weight-bolder'><i class="fa-solid fa-motorcycle"></i> 新着バイク</h3></div>
    <div class='row'>
        <div class='d-flex flex-wrap'>
            <% @item.each do |item| %>
            <div class="card mx-2 shadow-lg">
            <div class='card-body'>
            <%= link_to user_item_path(item) do %>
            <% if item.image.attached? %>
            <%= image_tag item.image, size: "200x200" %>
            <% else %>
            
            <% end %>
            <% end %>
            <p class='card-title'><%= item.name %></p>
            <p class='card-title'>本体価格：<%= (item.price*1.1).round.to_i %>円（税込）</p>
            </div>
            </div>
            <% end %>
        </div>
    </div>
    <div class='mt-4'><h3 class='font-weight-bolder'><i class="fa-solid fa-motorcycle"></i> メーカーから探す</h3></div>
    <div class='row'>
        <div class='d-flex flex-wrap'>
            <% @makers.each do |maker| %>
            <div class='col-md-6'>
                <%= link_to user_maker_path(maker),class: 'outline-primary' do %>
                <h4>・<%= maker.name %></h4>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
    <div class='mt-4'><h3 class='font-weight-bolder'><i class="fa-solid fa-motorcycle"></i> タイプから探す</h3></div>
    <div class='row'>
        <div class='d-flex flex-wrap'>
            <% @genres.each do |genre| %>
            <div class='col-md-6'>
                <%= link_to user_genre_path(genre),class: 'outline-primary' do %>
                <h4>・<%= genre.name %></h4>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
    <div class='mt-4'><h3 class='font-weight-bolder'><i class="fa-solid fa-motorcycle"></i> 排気量から探す</h3></div>
    <div class='row'>
        <div class='d-flex flex-wrap'>
            <% @cc_classes.each do |cc_class| %>
            <div class='col-md-6'>
                <%= link_to user_cc_class_path(cc_class),class: 'outline-primary' do %>
                <h4>・<%= cc_class.name %></h4>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>