<div class='container'>
    <h1 class='text-center'>会員一覧</h1>
    <div class='row'>
        <table class='table'>
            <thead>
                <tr>
                    <th>会員ID</th>
                    <th>氏名</th>
                    <th>メールアドレス</th>
                    <th>ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= link_to admin_user_path(user) do %><%= user.last_name %><%= user.first_name %><% end %></td>
                    <td>出品数：<%= user.items.count %>点</td>
                    <td><%= user.email %></td>
                    <td>
                        <% if user.is_deleted == false %>
                        <div class='label text-success'>有効</div>
                        <% else %>
                        <div class='label text-danger'>退会済</div>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @users %>
    </div>
</div>