<header>
    <nav class="navbar1 navbar-expand-lg">
        <div class='container'>
            <ul class='nav navbar-nav navbar-right'>
                <% if user_signed_in? %>
                <li>
                    <%= link_to root_path,class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-magnifying-glass"></i> バイクを探す
                    <% end %>
                </li>
                <li>
                    <%= link_to user_users_path,class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-users"></i> ユーザーを探す
                    <% end %>
                </li>
                <li>
                    <%= link_to user_user_path(current_user.id),class: 'nav-link text-white' do %>
                    <i class='fa fa-user'></i> <%= current_user.last_name %>さんのマイページ
                    <% end %>
                </li>
                <li>
                    <%= link_to new_user_item_path,class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-motorcycle"></i> 出品
                    <% end %>
                </li>
                <li>
                    <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> ログアウト
                    <% end %>
                </li>
                <% elsif admin_signed_in? %>
                <li><%= link_to '商品一覧', admin_items_path,class: 'nav-link text-white' %></li>
                <li><%= link_to '会員一覧', admin_users_path,class: 'nav-link text-white' %></li>
                <li><%= link_to '注文履歴一覧', admin_path,class: 'nav-link text-white' %></li>
                <li><%= link_to '車体タイプ条件管理', admin_genres_path,class: 'nav-link text-white' %></li>
                <li><%= link_to 'メーカー条件管理', admin_makers_path,class: 'nav-link text-white' %></li>
                <li><%= link_to '排気量条件管理', admin_cc_classes_path,class: 'nav-link text-white' %></li>
                <li><%= link_to 'ログアウト',destroy_admin_session_path, method: :delete,class: 'nav-link text-white' %></li>
                <% else %>
                <li>
                    <%= link_to user_about_path,class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-info"></i> About
                    <% end %>
                </li>
                <li>
                    <%= link_to user_items_path,class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-motorcycle"></i> 商品一覧
                    <% end %>
                </li>
                <li>
                    <%= link_to new_user_registration_path,class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-user-plus"></i> 新規登録
                    <% end %>
                </li>
                <li>
                    <%= link_to new_user_session_path,class: 'nav-link text-white' do %>
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> ログイン
                    <% end %>
                </li>
                <% end %>
            </ul>
        </div>
    </nav>
    <div class='navbar navbar-expand-lg navbar-left bg-light shadow-lg'>
        <div class='container'>
            <% if user_signed_in? %>
            <div class='row'>
                <a href='/'>
                    <h1><span style='color:#ff4500;'>Bee</span> <span style='color:#696969;'>bike</span></h1>
                </a>
            </div>
            <div class='row'>
                <div class="mx-auto">
                    <%= render 'user/searches/search' %>
                </div>
            </div>
            <% elsif admin_signed_in? %>
            <div class='row'>
                <a href='/admin'>
                    <h1><span style='color:#ff4500;'>Bee</span> <span style='color:#696969;'>bike</span></h1>管理者用
                </a>
            </div>
            <div class='row'>
                <div class="mx-auto">
                    <%= render 'admin/searches/search' %>
                </div>
            </div>
            <% else %>
            <div class='row'>
                <a href='/'>
                    <h1><span style='color:#ff4500;'>Bee</span> <span style='color:#696969;'>bike</span></h1>
                </a>
            </div>
            <div class='row'>
                <div class="mx-auto">
                    <%= render 'user/searches/search' %>
                </div>
            </div>
            <% end %>
            <div class='row'>
                <h4>
                    総掲載数<span style='color:#ff4500;'><%= Item.count %></span>件
                </h4>
            </div>
        </div>
    </div>
</header>