<!DOCTYPE html>
<html>
  <head>
    <title>BeeBike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/64814fde83.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <div class="d-flex justify-content-center mb-2">
        
      </div>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
